@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro MVC</h1>
    <p><a class="btn btn-primary btn-lg" href="./Cadastro">Cadastros</a></p>
</div>
